.spantest {
    opacity: 1
}

.job_application.application {
    display: none !important
}

.postid-14875 .job-manager-application-form.job-manager-form {
    display: none
}

body #et-footer-nav {
    display: block !important
}

.news-quote {
    font-style: italic;
    color: #FF671D;
    margin: 5px 0
}

.news-link a {
    font-weight: 700
}

.in-the-news {
    display: flex;
    flex-wrap: wrap
}

.in-the-news .event-single {
    margin-bottom: 50px;
    width: 47%;
    margin-right: 3%
}

.in-the-news .event-single:nth-child(2) {
    margin-right: 0%
}

.in-the-news .event-single .event-left {
    float: left;
    width: 20%
}

.in-the-news .event-right h2 {
    min-height: 60px
}

.in-the-news .event-right p {
    line-height: 20px
}

.in-the-news .event-single .event-left img {
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    min-height: 80px;
    max-width: 80px
}

.in-the-news .event-single .event-right {
    float: left;
    width: 75%;
    margin-left: 5%
}

#event-description-section .et_pb_row,
#event-presenter-section .et_pb_row {
    width: 100%
}

@font-face {
    font-display: swap;
    font-family: "Lato";
    src: url(../../../../../../themes/riscura-child-theme/Lato-300.woff) format('woff'), url(../../../../../../themes/riscura-child-theme/Lato-Thin.ttf) format('truetype');
    font-style: normal
}

@font-face {
    font-display: swap;
    font-family: "Lato-400";
    src: url(../../../../../../themes/riscura-child-theme/Lato-400.woff) format('woff'), url(../../../../../../themes/riscura-child-theme/Lato-Thin.ttf) format('truetype');
    font-style: normal
}

h1,
#events-area h1,
#media-area h1,
#events-area h1,
#events-area h3,
#media-area h3 {
    font-family: Lato !important;
    color: #003b71 !important;
    font-size: 24pt !important;
    font-weight: 300 !important
}

.home h2,
h2 {
    font-family: Lato !important;
    color: #083b72 !important;
    font-size: 24pt !important;
    font-weight: 300 !important
}

.et_header_style_left .logo_container {
    width: 60% !important;
    height: 60% !important;
    margin-top: 1.5%
}

.et-fixed-header .logo_container {
    margin-top: 0.8% !important
}

.events-cats li.active,
.media-cats li.current-menu-item {
    border-color: #003b71 !important
}

.et_pb_slider .et_pb_slide_0.et_pb_slide .et_pb_slide_description .et_pb_slide_title {
    font-size: 24px !important
}

h2,
.speaker-title {
    font-family: 'Merriweather', serif !important;
    font-weight: 500;
    color: #ff671d !important;
    font-size: 14pt !important;
    font-style: normal;
    line-height: 16pt !important
}

h3,
.speaker-cont h3,
#events-area h3,
#media-area h3 {
    font-family: 'Lato' !important;
    font-weight: 700 !important;
    color: #ff671d !important;
    font-size: 12pt !important;
    font-style: normal;
    line-height: 18pt !important
}

h2 {
    text-align: left
}

.category #et-main-area #main-content h2 {
    font-family: Lato !important;
    color: #003b71 !important;
    font-size: 18pt !important;
    line-height: 22pt !important;
    font-weight: 300
}

.single-post .entry-content ul li:before,
.single_job_listing .et_pb_tab ul li:before {
    color: #FF671D !important;
    content: "• ";
    margin-left: -24px;
    padding-right: 0
}

.single_job_listing .et_pb_tab ul li:before {
    padding-right: 0px !important
}

.event-right h2,
.media-right h2 {
    font-size: 20pt !important;
    line-height: 26pt !important;
    color: #003b71 !important;
    font-weight: 300 !important;
    font-family: Lato !important
}

.event-single .event-summary h1 {
    font-size: 20pt !important;
    line-height: 26pt !important;
    color: #003b71 !important;
    font-family: Lato !important
}

.btn-short a {
    background-color: #003b71 !important
}

h4,
h5 {
    font-family: 'LatoBold', sans-serif !important;
    color: #003b71 !important;
    font-size: 10pt
}

.events-cats li.active a,
.media-cats li.active a {
    color: #003b71 !important;
    font-family: Lato !important;
    font-size: 14pt !important;
    font-weight: 600
}

.form-submit .et_pb_button {
    color: #003b71 !important;
    border-color: #003b71
}

.widgettitle {
    font-family: 'Lato', sans-serif !important;
    font-weight: 700;
    color: #003b71 !important;
    font-size: 12pt
}

.events-cats li a,
.media-cats li a {
    color: #909288 !important;
    font-family: Lato !important;
    font-size: 14pt !important;
    font-weight: 300
}

.footer-widget h4 {
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize !important;
    text-decoration: none
}

p,
body,
input,
textarea,
select {
    font-family: Lato-400 !important;
    font-size: 12pt
}

p {
    padding-top: .5em
}

blockquote,
blockquote p {
    font-family: Merriweather !important;
    font-style: italic;
    font-size: 12pt;
    font-weight: 400
}

.et_pb_text_4 {
    border-color: #003b71 !important
}

.checktitle {
    color: #003b71;
    font-weight: bold !important
}

.et-search-form,
.nav li ul,
.et_mobile_menu,
.footer-widget li:before,
.et_pb_pricing li:before {
    border: none !important;
    padding-left: 0 !important
}

blockquote {
    border: none;
    padding-left: 50px;
    border-left: 1px solid #FF671D !important
}

blockquote p {
    text-align: left !important
}

.et_pb_tabs_controls li a {
    font-family: Lato;
    color: #909288;
    font-weight: 700;
    font-size: 10pt
}

#top-menu li a:hover {
    color: #003b71 !important
}

#top-menu li ul li a {
    font-family: Lato !important;
    color: #909288;
    font-weight: 700;
    font-size: 10pt
}

ul li {
    font-size: 15px !important
}

#top-menu li ul li a:hover {
    color: #003b71 !important
}

#categories-2.et_pb_widget li a {
    background: #003b71 !important
}

#categories-2.et_pb_widget li a:hover {
    background: #b7dce1 !important
}

#main-content .et_pb_tab_active a,
#main-header #top-menu li.current-menu-item>a {
    color: #003b71 !important
}

#main-header .nav li ul {
    border-top: 3px solid #003b71 !important
}

#main-header a,
#et-top-navigation a {
    font-family: 'Merriweather', serif !important;
    font-weight: 700;
    color: #909288 !important;
    font-size: 10pt !important;
    opacity: 1 !important
}

#top-menu li.current-menu-ancestor>a,
.et-fixed-header #top-menu li.current-menu-ancestor>a,
.et-fixed-header #top-menu li.current-menu-item>a,
.et-fixed-header #top-menu li.current_page_item>a {
    color: #003b71 !important
}

@media only screen and (min-width:981px) {

    #page-container .et-fixed-header #top-menu li.current-menu-ancestor>a,
    .et-fixed-header #top-menu li.current-menu-item>a,
    .et-fixed-header #top-menu li.current_page_item>a {
        color: #003b71 !important
    }
}

.page-template-events-single-post .events-cats li.active,
.page-template-events-single-post .media-cats li.current-menu-item,
.page-template-events-single-post .events-cats li.active,
.page-template-events-single-post .media-cats li.current-menu-parent {
    color: #003b71 !important;
    border-left: 2px solid #003b71;
    font-family: Lato !important;
    font-size: 14pt !important
}

.media-cats li {
    line-height: 18pt
}

.events-cats li.past,
.events-cats li.external,
.events-cats li.all {
    font-family: 'Lato', sans-serif !important;
    color: #909288 !important;
    font-size: 14pt;
    line-height: 22pt
}

#footer-widgets .footer-widget li:before {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    content: "•";
    font-family: "ETModules";
    color: #FF671d !important
}

.file-error {
    display: initial;
    position: relative;
    bottom: 25px;
    background: #fff;
    right: 20%;
    border: 1px solid #818181;
    width: 100%;
    padding: 12px;
    font-size: 13px;
    text-transform: initial;
    color: #676767;
    border-radius: 5px;
    display: none
}

#main-footer {
    background: #D7D5D2 !important
}

.file-error:before {
    top: -15px;
    bottom: auto;
    left: auto;
    right: 45px;
    border-width: 0 15px 15px;
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #818181 transparent;
    display: block;
    width: 0
}

.file-error:after {
    top: -13px;
    bottom: auto;
    left: auto;
    right: 47px;
    border-width: 0 13px 13px;
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0
}

#recent-posts-2.et_pb_widget li a {
    border: 0 !important;
    padding-left: 0 !important
}

#event-presenter-section .et_pb_testimonial_description_inner {
    display: flex;
    flex-flow: column
}

#event-presenter-section .et_pb_testimonial_description_inner .et_pb_testimonial_author::before {
    content: 'MEET THE PRESENTER';
    display: block;
    color: #58595b;
    font-size: 14px;
    line-height: 1em
}

#event-presenter-section .et_pb_testimonial_description_inner .et_pb_testimonial_author {
    order: 1;
    color: #f79420;
    font-size: 22px;
    line-height: 1.2em
}

#event-presenter-section .et_pb_testimonial_description_inner .et_pb_testimonial_meta {
    order: 2;
    margin-bottom: 2em
}

#event-presenter-section .et_pb_testimonial_description_inner>p {
    order: 3
}

.et_sliderfx_slide .et-tabs-content-wrapper>div {
    overflow: hidden
}

.application_details {
    display: inline-block !important
}

.application .application_button {
    display: none !important
}

.job-listing-meta {
    display: none
}

.job_application {
    width: 80%;
    margin: 0 auto !important;
    text-align: center
}

.single_job_listing .application .application_details {
    border: none;
    box-shadow: none;
    margin: 50px 0
}

.single_job_listing .meta li {
    margin: 0 0 0 0;
    float: none
}

.single_job_listing #main-content .application .application_button,
.wp_job_manager_send_application_button {
    color: #fff !important;
    background: #003c71 !important;
    border-color: #003c71 !important;
    letter-spacing: 0px !important;
    background-color: #003c71 !important;
    padding: .3em 1em !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 1.7em !important;
    border: 2px solid !important;
    cursor: pointer;
    border-radius: 3px !important;
    text-transform: uppercase !important
}

.single_job_listing .application .application_button:hover,
.wp_job_manager_send_application_button:hover {
    background: #58595b !important;
    border-color: #58595b !important
}

.job-manager-application-form fieldset {
    width: 47%;
    float: left;
    margin-right: 6%;
    padding: 0px !important;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    padding-bottom: 1em
}

.job-manager-application-form fieldset:nth-child(odd) {
    margin-right: 6%
}

.job-manager-application-form fieldset:nth-child(even) {
    margin-right: 0%
}

.job-manager-form fieldset input.input-text,
.job-manager-form fieldset select,
.job-manager-form fieldset textarea {
    padding: 14px 8px;
    background-color: #fff;
    color: #666;
    width: 100% !important;
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #003c71 !important
}

small.description {
    font-style: italic
}

.job-manager-form fieldset label {
    display: block;
    margin: 0;
    width: 100%;
    float: none;
    vertical-align: middle;
    text-align: left;
    line-height: 20px
}

.job-manager-form fieldset {
    border: none
}

.job_listing .et_post_meta_wrapper {
    background-color: #f5f5f5
}

.single_job_listing .et_pb_section.et_pb_section_0.et_section_regular {
    background-color: #f5f5f5
}

#top-header .container {
    padding-top: 0
}

#et-secondary-menu {
    padding-top: 10px
}

#menu-header-tab {
    float: left
}

#menu-header-tab li {
    display: inline-block;
    margin-right: 0
}

#menu-header-tab li a {
    color: #fff;
    padding: 10px 20px;
    display: block;
    font-size: 11px !important;
    font-weight: 300 !important
}

#menu-header-tab li:nth-of-type(1) a {
    background: #fff;
    color: #f79420
}

#et-info,
#et-secondary-menu>ul>li a {
    font-weight: 300;
    font-size: 11px
}

.container {
    max-width: 1145px !important
}

.et_secondary_nav_only_menu #top-header {
    display: block
}

.et_fixed_nav.et_secondary_nav_only_menu.admin-bar #main-header,
.et_non_fixed_nav.et_transparent_nav.et_secondary_nav_only_menu.admin-bar #main-header {
    top: 78px !important
}

body.et_fixed_nav.et_secondary_nav_enabled #main-header,
body.et_non_fixed_nav.et_transparent_nav.et_secondary_nav_enabled #main-header {
    top: 32px !important
}

.menu-item-8930 {
    display: none
}

#et-secondary-menu,
#et-secondary-nav {
    display: block !important
}

.single_job_listing .job_description .et_pb_section:first-child {
    background-color: #f5f5f5 !important
}

.single_job_listing .job_description .et_pb_section .et_pb_row .et_pb_column .et_pb_tabs {
    border: none !important
}

.et-db #et-boc .et_pb_tabs_controls li {
    border-right: 0px !important
}

.et-db #et-boc .et_pb_tabs_controls li.et_pb_tab_active {
    border-right: 2px solid #666 !important
}

.gform_wrapper li input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper li textarea,
.gform_wrapper ul.gform_fields li.gfield select,
.gform_wrapper.gform_validation_error .top_label select.medium {
    width: 100% !important;
    padding: 10px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #003b71;
    font-family: Lato-400 !important
}

.gform_wrapper .top_label .gfield_label {
    display: none !important
}

.gform_wrapper .gform_footer input[type=submit] {
    padding: 10px 50px;
    border: 0;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #003b71;
    color: #fff
}

.btn-short a,
.em-booking-submit {
    background-color: #003b71
}

.gform_wrapper .gform_footer input[type=submit]:hover {
    background-color: #8e9fbc
}

.gform_wrapper textarea.medium {
    height: 95px !important
}

#gform_confirmation_wrapper_1.gform_confirmation_wrapper {
    margin-top: 20px;
    color: #fff;
    padding: 18px;
    font-size: 16px;
    text-align: center;
    background-color: #8e9fbc;
    line-height: 22px
}

#sidebar .cat-item-116 {
    display: none
}

#main-content .container.no-border:before {
    width: 0
}

.media-cats li.current-menu-parent a {
    color: #F78E11
}

#media-area .events-single-cont h1 {
    font-size: 40px;
    letter-spacing: 2px;
    color: #F79420;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1em
}

.events-cats li:hover,
.media-cats li:hover {
    opacity: 1 !important
}

.events-cats li,
.media-cats li {
    font-weight: 300;
    color: #909288 !important
}

.events-cats .active,
.media-cats .active {
    color: #003B71
}

.media-single {
    width: 32% !important;
    margin-right: 1%;
    min-width: 200px;
    vertical-align: top
}

.media-singel-title h2 {
    color: #58595b;
    font-size: 14px;
    line-height: 26pt;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    min-height: 50px;
    font-weight: 700
}

.media-singel-title {
    float: left
}

.media-single:nth-child(3n) {
    margin-right: 0%
}

.media-single .media-left {
    width: 100% !important;
    position: relative;
    display: flex
}

.media-left img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto
}

.media-single .media-left h2 {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 20px 15px 10px 15px;
    font-size: 14px;
    color: #FFF;
    z-index: 9;
    height: 60px;
    font-weight: 700
}

.category-market-insights,
.category-research {
    margin-bottom: 40px
}

.single-job_listing .et-db #et-boc .et-l .et_pb_fullwidth_slider_0 .et_pb_slide_description,
.single-job_listing .et-db #et-boc .et-l .et_pb_slider_fullwidth_off.et_pb_fullwidth_slider_0 .et_pb_slide_description {
    padding-top: 10px !important
}

.single-job_listing .et_pb_slider_container_inner {
    vertical-align: top !important;
    padding-top: 50px !important
}

.search_jobs .search_submit {
    display: none
}

.job_filters .search_jobs div.search_submit,
.job_filters .showing_jobs {
    display: none !important
}

#top-header,
#et-secondary-nav li ul {
    background-color: #FF671D !important
}

.nav li ul {
    border-top: 3px solid #f79420 !important
}

.post-archive-event article {
    min-height: 200px
}

.post-archive-event article img {
    width: 150px;
    float: left
}

.em-booking {
    display: none
}

.et_pb_section_parallax .et_pb_parallax_css,
.et_pb_slides .et_parallax_bg.et_pb_parallax_css {
    background-attachment: scroll
}

.et_parallax_bg {
    background-size: contain;
    background-position: bottom
}

.job_listing-template-default #et-boc .et-l .et_pb_post_title_0 .et_pb_title_container h1.entry-title,
h1 span {
    color: #003B71 !important
}

.job-listing-template-default .et-db #page-container #et-boc .et-l .et_pb_section .et_pb_button_0 {
    background-color: #003B71 !important
}

.job-listing-template-default .et-db #page-container #et-boc .et-l .et_pb_section .et-db #et-boc .et-l .et_pb_blurb_0 .et-pb-icon {
    background-color: #003B71 !important
}

.et_pb_text-2,
.et_pb_text-4,
.et_pb_text-6,
.et_pb_text-8,
.et_pb_module,
.et_pb_text {
    border-color: transparent !important
}

.banner-styling {
    max-width: 700px;
    margin: 0 auto
}

.banner-styling p {
    font-size: 20px !important;
    font-family: 'Lato' !important;
    font-weight: 500 !important;
    color: #909287
}

.banner-styling h1 {
    font-size: 50px !important;
    font-family: 'Lato' !important;
    color: #083b72;
    letter-spacing: -1px !important
}

.banner-styling a {
    font-family: 'Lato' !important;
    color: #fd671b;
    display: inline-block;
    border: 2px solid #bbbab5;
    padding: 5px 10px;
    font-size: 16px !important;
    font-weight: 900
}

.banner-styling-alt .et_parallax_bg {
    background-size: cover !important
}

.banner-styling-alt .et_pb_slider_container_inner .et_pb_slide_description {
    max-width: 700px;
    margin: 0 auto;
    padding: 60px 0
}

.banner-styling-alt .et_pb_slider_container_inner p {
    font-size: 20px !important;
    font-family: 'Lato' !important;
    font-weight: 600 !important;
    color: #909287
}

.banner-styling-alt .et_pb_slider_container_inner h1 {
    font-size: 50px !important;
    font-family: 'Lato' !important;
    color: #083b72;
    letter-spacing: -1px !important
}

.banner-styling-alt .et_pb_slider_container_inner a {
    font-family: 'Lato' !important;
    color: #fd671b;
    display: inline-block;
    border: 2px solid #bbbab5;
    padding: 5px 10px;
    font-size: 16px !important;
    font-weight: 900
}

.banner-styling-alt .et_pb_slide_0 .et_pb_slider_container_inner .et_pb_slide_description {
    padding: 60px !important;
    background: #fff;
    text-align: center !important
}

.banner-styling-alt .et_pb_slide_0 .et_pb_slider_container_inner h1 {
    color: #acaba6 !important;
    font-size: 65px !important
}

.banner-styling-alt .et_pb_slide_0 .et_pb_slider_container_inner p {
    font-size: 33px !important;
    color: #ff671d !important
}

.banner-styling-alt .et_pb_slide_0 .et_pb_slider_container_inner .et_pb_slide_description {
    text-align: left !important;
    max-width: 560px;
    position: relative
}

.banner-styling-alt .et_pb_slide_0 .et_pb_slider_container_inner .et_pb_slide_description:before {
    content: 'CH';
    display: block;
    width: 60px;
    height: calc(100% - 30px);
    position: fixed;
    left: -60px;
    top: 0;
    background: #d2232a;
    background: -moz-linear-gradient(top, #d2232a 0%, #bd7473 100%);
    background: -webkit-linear-gradient(top, #d2232a 0%, #bd7473 100%);
    background: linear-gradient(to bottom, #d2232a 0%, #bd7473 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2232a', endColorstr='#bd7473', GradientType=0);
    text-align: center;
    font-weight: 800;
    color: #fff;
    padding-top: 30px;
    font-size: 26px
}

@media all and (max-width:650px) {
    .banner-styling-alt .et_pb_slide_0 .et_pb_slider_container_inner h1 {
        font-size: 40px !important
    }

    .banner-styling-alt .et_pb_slide_0 .et_pb_slider_container_inner p {
        font-size: 24px !important
    }

    .page-id-21283 .banner-styling-alt .et_pb_slide_0 .et_pb_slider_container_inner .et_pb_slide_description:before {
        left: -20px
    }
}

.banner-styling-alt .et_pb_slide_2 .et_pb_slide_content h1 {
    color: #fff !important
}

.banner-styling-alt .et_pb_slide_2 .et_pb_slider_container_inner {
    position: relative
}

.banner-styling-alt .et_pb_slide_2 .et_pb_slider_container_inner:before {
    content: '';
    width: 71px;
    height: 86px;
    background: url(https://www.riscura.com/wp-content/uploads/2022/04/Edition-06.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 10px;
    left: 20%
}

@media only screen and (max-width:1200px) {
    .banner-styling-alt .et_pb_slide_2 .et_pb_slider_container_inner:before {
        left: 15%
    }
}

@media only screen and (max-width:960px) {
    .banner-styling-alt .et_pb_slide_2 .et_pb_slider_container_inner:before {
        left: 0%
    }
}

@media only screen and (max-width:460px) {
    .banner-styling-alt .et_pb_slide_2 .et_pb_slide_content h1 {
        font-size: 40px !important
    }
}

.gf-quiz-wrap .gform_wrapper .top_label .gfield_label {
    display: block !important
}

.quiz-results {
    max-width: 600px;
    margin: 0 auto
}

.quiz-results br {
    display: none
}

.quiz-question {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 30px;
    margin-bottom: 30px
}

.quiz-question h3 {
    font-size: 30px !important;
    line-height: 120% !important
}

.quiz-answer {
    margin: 10px 0
}

.quiz-results h2 {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    background: rgba(0, 0, 0, .05);
    margin: 25px 0 20px
}

.quiz-thanks {
    text-align: center;
    font-weight: 700
}

.quiz-results .gquiz-field-label {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 20px
}

.quiz-results .gquiz-answer-explanation {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-top: 20px;
    margin-bottom: 30px
}

.quiz-results .gquiz-answer-explanation h3 {
    margin-top: 0 !important;
    font-size: 18px !important;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 15px !important;
    margin-bottom: 10px
}

@media all and (max-width:1065px) {
    .in-the-news .event-single {
        width: 100%;
        margin-right: 0%
    }

    .in-the-news .event-single .event-left {
        width: 100%;
        text-align: center
    }

    .in-the-news .event-single .event-right {
        float: left;
        width: 100%;
        margin-left: 0%;
        text-align: center
    }

    .in-the-news .event-right h2 {
        min-height: inherit;
        text-align: center
    }
}